*{
    box-sizing: border-box;
}
:root
{
    --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
body{
    font-family: 'Roboto', sans-serif;

    font-family: 'Work Sans', sans-serif;
}

.parent{
    background-color: #eee;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   
   
}




@media (min-width: 768px){
    .container{
        width:750px;
    }
}

@media (min-width: 992px){
    .container{
        width:978px;
    }
}
@media (min-width: 1280px){
    .container{
        width:1170px;
    }
}


.header{
    padding: 20px;
}



.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}


.header .logo{
        width: 60px;
        
}
.header .container .links
{
    position: relative;
    cursor: pointer;
}

.header .container .links .icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
  

}



.header .container .links .icon span{
    background-color: black;
 
    margin-bottom: 5px;
}


.header .container .links .icon span:first-child{
   width: 100%;
   height: 3px;
}

.header .container .links .icon span:nth-child(2){
    width: 60%;
    height: 3px;
 }


 
.header .container .links .icon span:nth-child(3){
    width: 100%;
    height: 3px;
 }

 .header .container .links:hover    ul{
     display: block;
 } 

 .header .container .links ul{
     position: absolute;
     right: 0;
     background-color: #fafafa;
     list-style: none;
     top: calc(100% + 15px);
     padding: 0;
     margin: 0;
     min-width: 200px;
     display: none;
     z-index: 1;
 }


 .header .container .links ul::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #fafafa transparent;
    position: absolute;
    top: -20px;
    right: 5px;
 }



 .header .container .links ul li a
 {
     text-decoration: none;
     margin-bottom: 10px;
     display:block;
     padding: 15px;
    color: #333;
 
 }


 .header .container .links ul li:not(:last-child)
 {
     border-bottom: 1px solid #DDD;
 
 }

 .header .container .links ul li a:hover{


    padding-left: 25px;
 }



 /* Start Landing */

.landing
{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

}


.landing .intro-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.landing .intro-text h1{
    margin: 0;
   font-weight: bold;
   width: 324px;
   max-width: 100%;
   color:var( --main-color);

}

 /*End Landing*/


 /*Start Feature*/



 .features  .fest
 {
     text-align: center;
 }

 .features  .fest i{
     font-size: 50px;
 }
 .features {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f6f6f6;     
}
  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }


  .fest 
  {
    padding: 20px;
    text-align: center;

  }


  .fest i{
      color: var(--main-color);
  }



  .fest h3{
      font-weight: 800;

  }

  .fest p{
      font-size: 17px;
  }

 /*End Feature*/



 /* Start Services*/
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
 
}


  .special-heading{
      text-align: center;
      font-display: 800;
      line-height:   1.7m;
      color: #ebeceb;
      letter-spacing: -3;
      margin: 0;
      font-size: 100px;

  }

  .special-heading +p
  {
      text-align: center;
      margin-top: -30px;
      font-size: 20px;
      color: #797979;
  }

  @media (max-width: 767px) {

       .special-heading{
           font-size: 60px;
       }
  }

  .services .services-container
  {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
      grid-gap: 20px;
      margin-top: 100px;
  }



  .services .services-container .serv{

    display: flex;
    margin-bottom: 40px;
 

  }


  .services .services-container .serv i{
      color: var(--main-color);
    flex-basis: 60px;
  }
  .services .services-container .serv .text
  {
      flex:1;
  }
  .services .services-container .serv .text h3
  {
    margin: 0;
  }
  .services .services-container .serv .text p
  {
     
      color: #444;
      font-weight: 300;
      line-height: 1.6;
  }

  @media (max-width: 767px) {

    .special-heading{
        font-size: 60px;
    }
    .services .services-container .serv
    {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-container .image
{
    text-align: center;
    position: relative;
}


.services .services-container .image::before{
    content: " ";
    position: absolute;
    width: 100px;
    background-color: var(--secondary-color);
    height: calc(100% + 100px);
    top:-50px;
    right: 0;
    z-index: -1;
}
.services .services-container .image img
{
    width: 260px;

}

 /*End Services*/



  /*Strat Portofolie*/

    .portofolie{
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background-color: var(--section-background);
    }


    .portofolie .portofolio-container{
        display: grid;
      grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
      grid-gap: 30px;
      margin-top: 80px;
    }


    .portofolie .portofolio-container .card{
    background-color: white;

    }

    .portofolie .portofolio-container .card img{
        width: 100%;
    }

    .portofolie .portofolio-container .card .info{
        padding: 20px;

    }
    
    .portofolie .portofolio-container .card .info h3
{
    margin: 0;
}

.portofolie .portofolio-container .card .info p{
    line-height: 1.6;
    color: #777;
    margin-bottom: 0;

}
   /*End Portofolie */




   .about
   {
    padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
  
   }


   
   .about .about-container{
    display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  grid-gap: 30px;
  margin-top: 80px;
}

@media (max-width: 991px) {
    .about .about-container .text{
        text-align: center;
    }
}

.about-container .image
{
    position: relative;
 
}
@media (max-width: 991px) {
    .about .about-container{
        text-align: center;
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    }
}

.about-container .image img
{
    
  
    width: 260px;
 
}
@media (max-width: 991px)
{
    .about-container .image
    {
        margin: 0 auto 60px;
    }
}
.about .about-container .image::before{
    content: "";
    position: absolute;
    height:calc(100% + 80px);
    left: 0;
    top: -40px;
    z-index: -1; 
    width: 100px;
    background-color:#ebeceb;

}

.about .about-container .image::after
{
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    top: -40px;
    border-left: 80px solid  var(--main-color);
    border-bottom:80px solid var(--main-color) ;
    right: 150px;
    z-index: -1;
}
@media (max-width: 991px) {
   
.about .about-container .image::after,
.about .about-container .image::before
{
     display: none;
    
    }

}
.about .about-container .text hr
{
    width: 50%;
    color: var(--main-color);
    display: inline-block;
}

.about .about-container .text p:first-child
{
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 50px;
} 


/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
  }
  .contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
  }
  .contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
  }
  .contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
  }
  .contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
  }
  @media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
      font-size: 25px;
    }
  }
  /* End Contact */
  /* Start Footer */
  .footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
  }
  .footer span {
    font-weight: bold;
    color: var(--main-color);
  }